jwt:
  secret: ${JWT_SECRET:my-super-secret-key-my-super-secret-key-123456}
  expiration-ms: 60000
spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
